* {
	font-family: 'Titillium Web', sans-serif;
}

body {
	padding: 4%;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Bangers', cursive;
}

h1 {
	line-height: 0.65;
	letter-spacing: 0.3vw;
}

h2 {
	letter-spacing: 0.1vw;
	font-size: 1.8vw;
}

p {
	font-size: 1.3vw;
}

nav {
	text-align: left;
	padding-bottom: 2%;
}

nav a {
	margin: 0 7vw 0 0;
	font-size: 1.2vw;
	color: gray;
	text-decoration: none;
}

div.space {
	display: inline-block;
	width: 0vw;
}

nav div.space {
	width: 8.5vw;
	margin: 0;
}

nav img {
	width: 14.5vw;
}

section.banner {
	text-align: center;
	border-bottom: 0.1vw solid black;
	padding: 5% 0 5%;
}

section.banner #text-and-button{
	display: inline-block;
	width: 40%;
	vertical-align:middle;
	margin: 0;
}

section.banner #text-and-button h1 {
	display: inline-block;
	text-align: center;
	font-size: 5vw;
	margin: 10% 0 0;
}

section.banner #text-and-button button {
	display: inline-block;
	width: 35%;
	padding: 1% 0;
	margin: 5% 10% 0;
	font-size: 1vw;
	border-radius: 2px;
	border: 0.1vw solid black;
}

section.banner #innovation-image {
	display: inline-block;
	width: 37%;
	margin: 0;
	vertical-align: middle;
}

section.banner #innovation-image img {
	width: 100%;
}

section.info-list {
	margin-top: 4%;
	border-bottom: 0.1vw solid black;
	padding-bottom: 2%;
}

section.info-list .info-box {
	display: inline-block;
	width: 48.5%;
	margin: 0;
}

section.info-list .info-box.third {
	display: inline-block;
	width: 31%;
	margin: 0 auto;
}

section.info-list .space {
	width: 2%;
}

section.info-list img {
	width: 100%;
	margin: 2% 0;
}

section.info-list .info-box #features {
	display: inline-block;
	width: 49%;
	margin: 0;
}

footer {
	text-align: center;
	font-size: 1.3vw;
	padding: 3% 0;
}